  <!-- templates/3_home.html -->
{% extends 'services/3_base.html' %}
{% load static %}
{% block title %}Home - Saumu Salim Barbershop & Spa{% endblock %}

{% block content %}


     <section class="services-section">
        <h2>Our Services</h2>
        <div class="">
             <!-- Category Buttons -->

        <div class="btn-group service-buttons">
            <button class="btn_category active" data-category="all">All</button>

            {% for value, lable in categories %}
            <button class="btn_category" data-category="{{ value }}">{{ value }}</button>
            {% endfor %}
        </div>

            <div class="row justify-content-center">
                 {% for service in services %}
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center">
                    <div class="service-box s-page" data-category="{{service.category}}">
                        {% if service.image_url%}
                        <img src="{{ service.image_url}}" alt="Service 1">
                        {%else%}
                        <img src="https://i.pinimg.com/236x/b2/74/a0/b274a0b4777d7f9de9a59bb8d5dafb7e.jpg" alt="Service 1">
                        {% endif %}


                        <h3>{{ service.name}}</h3>
                        <p>{{ service.description }}</p>
                         <p><strong>Price:</strong>{{ service.price}}</p>
                        <p><strong>Duration:</strong> {{ service.duration }}</p>
                      <button class="btn service-btn book-now-btn" data-service-id="{{ service.id }}">Book Now</button>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    

{% endblock %}